In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext, SparkConf

In [3]:
conf = SparkConf().setMaster("yarn").setAppName("SGD")

In [4]:
sc = SparkContext.getOrCreate (conf = conf)
sc.getConf().getAll()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/02 07:16:54 WARN DataStreamer: Exception in createBlockOutputStream blk_1073742188_1367
java.io.IOException: Got error, status=ERROR, status message , ack with firstBadLink as 192.1.1.20:9866
	at org.apache.hadoop.hdfs.protocol.datatransfer.DataTransferProtoUtil.checkBlockOpStatus(DataTransferProtoUtil.java:128)
	at org.apache.hadoop.hdfs.protocol.datatransfer.DataTransferProtoUtil.checkBlockOpStatus(DataTransferProtoUtil.java:104)
	at org.apache.hadoop.hdfs.DataStreamer.createBlockOutputStream(DataStreamer.java:1827)
	at org.apache.hadoop.hdfs.DataStreamer.nextBlockOutputStream(DataStreamer.java:1728)
	at org.apache.hadoop.hdfs.DataStreamer.run(DataStreamer.java:713)
23/01/02 07:16:54 WARN DataStreamer: Abandoning BP-1190023728-192.1.1.10-1671092909957:blk_1073742188_1367
23/01/02 07:16:54 WARN DataStreamer: Excluding datanode DatanodeInfoWithStorage[192.1.1.20:9866,DS-2ea39210-7e6c-47f0-b0f8-4cabbce6fcd4,DISK]
23/01/02 07:16:55 WARN DataStreamer: Slow waitForAckedSeqno took 66973ms (threshold=30000ms). File being written: /user/vagrant/.sparkStaging/application_1672643310779_0002/pyspark.zip, block: BP-1190023728-192.1.1.10-1671092909957:blk_1073742189_1368, Write pipeline datanodes: [DatanodeInfoWithStorage[192.1.1.30:9866,DS-ba3d1826-aced-470b-9b25-e07d17e9a564,DISK]].

[('spark.driver.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.app.startTime', '1672643727503'),
 ('spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_URI_BASES',
  'http://master:8088/proxy/application_1672643310779_0002'),
 ('spark.app.submitTime', '1672643726650'),
 ('spark.org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter.param.PROXY_HOSTS',
  'master'),
 ('spark.app.id', 'application_1672643310779_0002'),
 ('spark.executor.id', 'driver'),
 ('spark.ui.proxyBase', '/proxy/application_1672643310779_0002'),
 ('spark.app.name', 'SGD'),
 ('spark.driver.bindAddress', '192.1.1.11'),
 ('spark.ui.port', '4050'),
 ('spark.master', 'yarn'),
 ('spark.driver.appUIAddress', 'http://edge:4050'),
 ('spark.rdd.compress', 'True'),
 ('spark.yarn.jars', ''),
 ('spark.driver.host', 'edge'),
 ('spark.executor.extraJavaOptions',
  '-XX:+IgnoreUnrecognizedVMOptions --add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.lang.reflect=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.net=ALL-UNNAMED --add-opens=java.base/java.nio=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.base/java.util.concurrent.atomic=ALL-UNNAMED --add-opens=java.base/sun.nio.ch=ALL-UNNAMED --add-opens=java.base/sun.nio.cs=ALL-UNNAMED --add-opens=java.base/sun.security.action=ALL-UNNAMED --add-opens=java.base/sun.util.calendar=ALL-UNNAMED --add-opens=java.security.jgss/sun.security.krb5=ALL-UNNAMED'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.executorEnv.PYTHONPATH',
  '/usr/local/spark/python:<CPS>{{PWD}}/pyspark.zip<CPS>{{PWD}}/py4j-0.10.9.5-src.zip'),
 ('spark.submit.pyFiles', ''),
 ('spark.yarn.isPython', 'true'),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.filters',
  'org.apache.hadoop.yarn.server.webproxy.amfilter.AmIpFilter'),
 ('spark.ui.showConsoleProgress', 'true'),
 ('spark.driver.port', '36131')]

In [5]:
import seaborn as sns
import re
import csv
import math
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib  import cm
import numpy as np

In [6]:
createType = "csv_read_chunk"
database = "Windsor_Housing_large"
num_of_partition = 2

In [7]:
def read_csvv(dataset_name):
    df = pd.read_csv("{}.csv".format(dataset_name))
    return df

In [8]:
df_origin = read_csvv(database)

In [9]:
df_origin

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
0,0,42000.0,5850,3,1,2,yes,no,yes,no,no,1,no
1,1,38500.0,4000,2,1,1,yes,no,no,no,no,0,no
2,2,49500.0,3060,3,1,1,yes,no,no,no,no,0,no
3,3,60500.0,6650,3,1,2,yes,yes,no,no,no,0,no
4,4,61000.0,6360,2,1,1,yes,no,no,no,no,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2541,2541,254000.0,15516,4,3,2,yes,no,no,no,yes,0,no
2542,2542,210200.0,21116,4,3,1,yes,no,no,no,no,0,no
2543,2543,478100.0,22814,5,1,2,yes,no,no,no,no,2,no
2544,2544,1988100.0,62908,8,6,2,yes,yes,yes,yes,no,2,no
2545,2545,446000.0,69227,1,1,2,no,no,no,no,no,1,no

In [10]:
df = df_origin.copy()

In [11]:
from sklearn.model_selection import train_test_split

df, test_df = train_test_split(df, test_size=0.3)

In [12]:
from sklearn.preprocessing import StandardScaler

featureScaler = StandardScaler()
df[['lotsize']] = featureScaler.fit_transform(df[['lotsize']])

priceScaler = StandardScaler()
df[['price']] = priceScaler.fit_transform(df[['price']])

In [13]:
df

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
855,855,-0.558410,-0.868905,5,2,3,yes,no,no,no,yes,0,yes
1788,1788,-0.077950,0.037293,5,1,2,yes,no,no,no,no,1,no
153,153,-1.001249,-1.222585,3,1,2,no,no,no,no,no,1,no
1010,1010,-0.295970,-0.206795,2,2,2,yes,no,no,no,yes,1,no
2225,2225,0.310045,-0.251496,5,1,4,yes,yes,no,no,yes,2,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,860,-0.338124,-0.255031,2,2,2,yes,yes,no,yes,no,1,no
775,775,-0.230700,-0.860577,2,3,2,yes,yes,no,no,yes,0,no
510,510,-0.874335,-1.140411,3,1,2,yes,yes,yes,no,no,2,no
1116,1116,-0.208037,0.214369,2,1,1,no,no,no,no,no,0,no
2411,2411,-0.739263,-0.682323,3,1,2,yes,no,no,no,no,0,no

In [14]:
category_cols = ['driveway', 'recroom', 'fullbase', 'gashw', 'airco', 'prefarea']

In [15]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [16]:
for cate in category_cols:
    df[cate] = label_encoder.fit_transform(df[cate])

In [17]:
df

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea
855,855,-0.558410,-0.868905,5,2,3,1,0,0,0,1,0,1
1788,1788,-0.077950,0.037293,5,1,2,1,0,0,0,0,1,0
153,153,-1.001249,-1.222585,3,1,2,0,0,0,0,0,1,0
1010,1010,-0.295970,-0.206795,2,2,2,1,0,0,0,1,1,0
2225,2225,0.310045,-0.251496,5,1,4,1,1,0,0,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
860,860,-0.338124,-0.255031,2,2,2,1,1,0,1,0,1,0
775,775,-0.230700,-0.860577,2,3,2,1,1,0,0,1,0,0
510,510,-0.874335,-1.140411,3,1,2,1,1,1,0,0,2,0
1116,1116,-0.208037,0.214369,2,1,1,0,0,0,0,0,0,0
2411,2411,-0.739263,-0.682323,3,1,2,1,0,0,0,0,0,0

In [18]:
columns = list(df.columns.values)

In [19]:
columns

['Unnamed: 0',
 'price',
 'lotsize',
 'bedrooms',
 'bathrms',
 'stories',
 'driveway',
 'recroom',
 'fullbase',
 'gashw',
 'airco',
 'garagepl',
 'prefarea']

In [20]:
wholeRDD = sc.parallelize(df.values.tolist(), num_of_partition)

In [21]:
wholeRDD.take(5)

23/01/02 07:18:42 WARN YarnScheduler: Initial job has not accepted any resources; check your cluster UI to ensure that workers are registered and have sufficient resources

[[855.0,
  -0.5584100716254294,
  -0.8689047364116417,
  5.0,
  2.0,
  3.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0],
 [1788.0,
  -0.07794978073488291,
  0.037293014306491956,
  5.0,
  1.0,
  2.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0],
 [153.0,
  -1.0012494152103955,
  -1.2225850375588492,
  3.0,
  1.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0],
 [1010.0,
  -0.2959699693371026,
  -0.20679510112317784,
  2.0,
  2.0,
  2.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0],
 [2225.0,
  0.31004456738050185,
  -0.251496143182876,
  5.0,
  1.0,
  4.0,
  1.0,
  1.0,
  0.0,
  0.0,
  1.0,
  2.0,
  0.0]]

In [22]:
columns[0] = 'id'
print(columns)

['id', 'price', 'lotsize', 'bedrooms', 'bathrms', 'stories', 'driveway', 'recroom', 'fullbase', 'gashw', 'airco', 'garagepl', 'prefarea']

In [23]:
c = {name: idx  for idx, name in enumerate(columns)}
print(c)

{'id': 0, 'price': 1, 'lotsize': 2, 'bedrooms': 3, 'bathrms': 4, 'stories': 5, 'driveway': 6, 'recroom': 7, 'fullbase': 8, 'gashw': 9, 'airco': 10, 'garagepl': 11, 'prefarea': 12}

In [24]:
c

{'id': 0,
 'price': 1,
 'lotsize': 2,
 'bedrooms': 3,
 'bathrms': 4,
 'stories': 5,
 'driveway': 6,
 'recroom': 7,
 'fullbase': 8,
 'gashw': 9,
 'airco': 10,
 'garagepl': 11,
 'prefarea': 12}

In [25]:
print("Number of training item = ", wholeRDD.count())
print("Number of columns = ", len(columns))

Number of training item =  1782
Number of columns =  13

In [26]:
feature_num = len(columns) - 2 # except id and price columns
feature_num = feature_num + 1 # bias

In [27]:
def parseData(data):
    try:
        t = float(data)        
        return t
    except:
        return data
    

def cleanData(line):
    new_line = list(line)
    for idx, value in enumerate(new_line):
        if value == '':
            new_line[idx] = None
        
        if new_line[idx] != None:
            new_line[idx] = parseData(new_line[idx])
    return tuple(new_line)
            

wholeRDD = wholeRDD.map(lambda line: cleanData(line))

In [28]:
wholeRDD.take(5)

[(855.0,
  -0.5584100716254294,
  -0.8689047364116417,
  5.0,
  2.0,
  3.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0),
 (1788.0,
  -0.07794978073488291,
  0.037293014306491956,
  5.0,
  1.0,
  2.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0),
 (153.0,
  -1.0012494152103955,
  -1.2225850375588492,
  3.0,
  1.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0),
 (1010.0,
  -0.2959699693371026,
  -0.20679510112317784,
  2.0,
  2.0,
  2.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0),
 (2225.0,
  0.31004456738050185,
  -0.251496143182876,
  5.0,
  1.0,
  4.0,
  1.0,
  1.0,
  0.0,
  0.0,
  1.0,
  2.0,
  0.0)]

In [29]:
def checkNone(line):
    for i in line:
        if i == None:
            return False
    
    return True

In [30]:
wholeRDD = wholeRDD.filter(lambda line: checkNone(line))

In [31]:
def addBias(line):
    new_line = list(line)
    
    # add bias 1
    new_line.append(1)
    
    # Remove id
    new_line = new_line[1:]
    
    # Add 1 col for different of label and predicted values
    new_line.append(1)
    
    return tuple(new_line)

In [32]:
# Add bias as new column
wholeRDD = wholeRDD.map(lambda line:addBias(line))

In [33]:
wholeRDD.take(5)

[(-0.5584100716254294,
  -0.8689047364116417,
  5.0,
  2.0,
  3.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1.0,
  1,
  1),
 (-0.07794978073488291,
  0.037293014306491956,
  5.0,
  1.0,
  2.0,
  1.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1,
  1),
 (-1.0012494152103955,
  -1.2225850375588492,
  3.0,
  1.0,
  2.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  1.0,
  0.0,
  1,
  1),
 (-0.2959699693371026,
  -0.20679510112317784,
  2.0,
  2.0,
  2.0,
  1.0,
  0.0,
  0.0,
  0.0,
  1.0,
  1.0,
  0.0,
  1,
  1),
 (0.31004456738050185,
  -0.251496143182876,
  5.0,
  1.0,
  4.0,
  1.0,
  1.0,
  0.0,
  0.0,
  1.0,
  2.0,
  0.0,
  1,
  1)]

In [34]:
def dot_product_2_vec(vec1, vec2):
    summ = 0
    
    assert len(vec1) == len(vec2)
    for i in range(len(vec1)):
        summ = summ + vec1[i] * vec2[i]
    
    return summ

def add_new_diff(line, value):
    new_line = list(line)
    new_line[len(new_line)-1] = value
    return tuple(new_line)
    
def dot_product_diff_mat_vec(rdd , vec):
    return rdd.map(lambda line: add_new_diff(line, dot_product_2_vec(line[1:-1] , vec) - line[0]))

In [35]:
def find_grad(rdd, idx_weight):
    return rdd.map(lambda line: line[idx_weight] * line[-1]).reduce(lambda a,b : a + b)

In [36]:
iterations = 150
costs = [0 for i in range(iterations)]
learning_rate = 0.1

init_weight = np.random.normal(0, 1, feature_num).tolist()
assert len(init_weight) == feature_num

training_num = wholeRDD.count()

print(training_num)
best_loss = math.inf

train_rdd = wholeRDD
for i in range(iterations):

    train_rdd = dot_product_diff_mat_vec(train_rdd, init_weight)
    
    # compute loss
    cost_value = train_rdd.map(lambda x : x[-1] * x[-1]).reduce(lambda a, b: a + b) * (1 / training_num) * (1/2)
   
    print("[Loss {}/{}] {}".format(i, iterations, cost_value))

    costs[i] = cost_value
        
    # update weights
    for idx in range(len(init_weight)):
        init_weight[idx] = init_weight[idx] - learning_rate * (1 / training_num )* find_grad(train_rdd, idx + 1)
        
    if costs[i] < best_loss:
        best_loss = costs[i]

1782

[Loss 0/150] 11.169561456408477

23/01/02 07:19:13 WARN AccumulatorContext: Attempted to access garbage collected accumulator 277
23/01/02 07:19:13 WARN AccumulatorContext: Attempted to access garbage collected accumulator 277
23/01/02 07:19:13 WARN AccumulatorContext: Attempted to access garbage collected accumulator 278
23/01/02 07:19:13 WARN AccumulatorContext: Attempted to access garbage collected accumulator 278
23/01/02 07:19:13 WARN AccumulatorContext: Attempted to access garbage collected accumulator 284
23/01/02 07:19:13 WARN AccumulatorContext: Attempted to access garbage collected accumulator 284

[Loss 1/150] 2.272878407425721
[Loss 2/150] 1.4286847386591415

[Loss 3/150] 1.2226275717348065
[Loss 4/150] 1.0768500251825233
[Loss 5/150] 0.9810712845396615
[Loss 6/150] 0.9119863759549895
[Loss 7/150] 0.8584763744603429
[Loss 8/150] 0.8143825153411067
[Loss 9/150] 0.776348341040149
[Loss 10/150] 0.7425120949973588
[Loss 11/150] 0.7118144122917446
[Loss 12/150] 0.6836265427427745
[Loss 13/150] 0.6575522150771069
[Loss 14/150] 0.6333224527230911
[Loss 15/150] 0.6107399049997871
[Loss 16/150] 0.589649381710937

[Loss 17/150] 0.5699221618890344

[Loss 18/150] 0.551447497032775
[Loss 19/150] 0.534127854411546
[Loss 20/150] 0.5178761034761746
[Loss 21/150] 0.5026137198412404
[Loss 22/150] 0.4882695347683284
[Loss 23/150] 0.47477879120436245
[Loss 24/150] 0.4620823856024496
[Loss 25/150] 0.45012623371504
[Loss 26/150] 0.4388607274858971
[Loss 27/150] 0.428240264169633

[Loss 28/150] 0.4182228355568295
[Loss 29/150] 0.40876966851100105
[Loss 30/150] 0.3998449097929905
[Loss 31/150] 0.3914153492320882
[Loss 32/150] 0.38345017609128745
[Loss 33/150] 0.3759207641284741
[Loss 34/150] 0.368800481435924
[Loss 35/150] 0.36206452166523617
[Loss 36/150] 0.3556897537170231
[Loss 37/150] 0.3496545873942733

[Loss 38/150] 0.3439388528860901
[Loss 39/150] 0.3385236922668555
[Loss 40/150] 0.3333914614685966
[Loss 41/150] 0.32852564141617285
[Loss 42/150] 0.32391075721076007
[Loss 43/150] 0.3195323044119756
[Loss 44/150] 0.31537668160734705
[Loss 45/150] 0.3114311285739058
[Loss 46/150] 0.30768366943395364
[Loss 47/150] 0.3041230602887603
[Loss 48/150] 0.3007387408825588
[Loss 49/150] 0.29752078990709174
[Loss 50/150] 0.29445988360581965
[Loss 51/150] 0.29154725737832826
[Loss 52/150] 0.2887746701207354
[Loss 53/150] 0.2861343710679658
[Loss 54/150] 0.28361906892957695
[Loss 55/150] 0.2812219031330285
[Loss 56/150] 0.278936417007456
[Loss 57/150] 0.27675653275771733
[Loss 58/150] 0.27467652809297555
[Loss 59/150] 0.272691014386816
[Loss 60/150] 0.27079491625709395
[Loss 61/150] 0.26898345246356686
[Loss 62/150] 0.26725211803013976
[Loss 63/150] 0.2655966675063403
[Loss 64/150] 0.2640130992896102
[Loss 65/150] 0.2624976409362402
[Loss 66/150] 0.26104673539440737
[Loss 67/150] 0.25965702809784325
[Loss 68/150] 0.2583253548632639
[Loss 69/150] 0.2570487305388701
[Loss 70/150] 0.25582433835503976
[Loss 71/150] 0.2546495199318024
[Loss 72/150] 0.25352176590088765
[Loss 73/150] 0.252438707103036
[Loss 74/150] 0.2513981063239964
[Loss 75/150] 0.2503978505350587
[Loss 76/150] 0.2494359436063014

[Loss 77/150] 0.2485104994628297
[Loss 78/150] 0.24761973565624526
[Loss 79/150] 0.24676196732540367
[Loss 80/150] 0.24593560152220856
[Loss 81/150] 0.24513913187975062
[Loss 82/150] 0.2443711336015695
[Loss 83/150] 0.243630258752167
[Loss 84/150] 0.24291523183016903
[Loss 85/150] 0.24222484560671995
[Loss 86/150] 0.2415579572127828

[Loss 87/150] 0.24091348446006744
[Loss 88/150] 0.2402904023812475
[Loss 89/150] 0.2396877399760434

[Loss 90/150] 0.2391045771505855

[Loss 91/150] 0.23854004183824837
[Loss 92/150] 0.23799330729089857
[Loss 93/150] 0.23746358953016933
[Loss 94/150] 0.23695014494903813
[Loss 95/150] 0.23645226805457298
[Loss 96/150] 0.23596928934328476
[Loss 97/150] 0.23550057330105492
[Loss 98/150] 0.23504551652009675
[Loss 99/150] 0.2346035459258861
[Loss 100/150] 0.23417411710741476
[Loss 101/150] 0.23375671274455231
[Loss 102/150] 0.23335084112666257

[Loss 103/150] 0.23295603475699503
[Loss 104/150] 0.23257184903770173
[Loss 105/150] 0.23219786103065024
[Loss 106/150] 0.23183366828949478
[Loss 107/150] 0.23147888775874564
[Loss 108/150] 0.23113315473584578
[Loss 109/150] 0.23079612189249443
[Loss 110/150] 0.23046745835169896
[Loss 111/150] 0.23014684881724487
[Loss 112/150] 0.22983399275247257

[Loss 113/150] 0.22952860360544994

[Loss 114/150] 0.22923040807779463
[Loss 115/150] 0.22893914543457305
[Loss 116/150] 0.22865456685286065
[Loss 117/150] 0.22837643480668815
[Loss 118/150] 0.22810452248624385
[Loss 119/150] 0.22783861324932544
[Loss 120/150] 0.227578500103154
[Loss 121/150] 0.22732398521479077
[Loss 122/150] 0.22707487944847976
[Loss 123/150] 0.22683100192836478
[Loss 124/150] 0.22659217962510236
[Loss 125/150] 0.22635824696499596
[Loss 126/150] 0.22612904546035184
[Loss 127/150] 0.2259044233598306
[Loss 128/150] 0.22568423531765638
[Loss 129/150] 0.22546834208059416
[Loss 130/150] 0.22525661019168888

[Loss 131/150] 0.22504891170980612
[Loss 132/150] 0.22484512394407694
[Loss 133/150] 0.2246451292024083
[Loss 134/150] 0.22444881455325416
[Loss 135/150] 0.22425607159991057
[Loss 136/150] 0.22406679626662

[Loss 137/150] 0.22388088859583255

[Loss 138/150] 0.22369825255599515
[Loss 139/150] 0.2235187958592823

[Loss 140/150] 0.22334242978871807
[Loss 141/150] 0.22316906903416756
[Loss 142/150] 0.2229986315367076

[Loss 143/150] 0.22283103834091805

[Loss 144/150] 0.22266621345465382

[Loss 145/150] 0.22250408371589459
[Loss 146/150] 0.22234457866628157
[Loss 147/150] 0.22218763043097947

[Loss 148/150] 0.22203317360452046

[Loss 149/150] 0.22188114514230983

In [37]:
def predict(df_t, weight):
    
    df_test = df_t.copy()
    
    # preprocess
    df_test[['lotsize']] = featureScaler.transform(df_test[['lotsize']])
    
    for cate in category_cols:
        df_test[cate] = label_encoder.transform(df_test[cate])
        
    size = len(df_test)
    
    # predict
    df_test["bias"] = [1 for i in range(size)]
    
    print(df_test.columns)
    assert len(df_test.columns) == len(weight) + 2
    
    # predict
    df_test['predict_price'] = df_test.apply(lambda line: dot_product_2_vec(line[2:] , weight), axis=1)
    
    # rescale price to origin
    df_test['predict_price_normalized'] = priceScaler.inverse_transform([df_test['predict_price']])[0]
    return df_test

In [38]:
df_test_result = predict(test_df, init_weight)

Index(['Unnamed: 0', 'price', 'lotsize', 'bedrooms', 'bathrms', 'stories',
       'driveway', 'recroom', 'fullbase', 'gashw', 'airco', 'garagepl',
       'prefarea', 'bias'],
      dtype='object')

In [39]:
df_test_result[['price_scaled']] = priceScaler.transform(df_test_result[['price']])

In [40]:
df_test_result

,Unnamed: 0,price,lotsize,bedrooms,bathrms,stories,driveway,recroom,fullbase,gashw,airco,garagepl,prefarea,bias,predict_price,predict_price_normalized,price_scaled
833,833,328200.0,-0.267758,2,2,2,1,0,0,0,0,2,0,1,-0.365739,182207.518952,0.295993
1396,1396,400400.0,0.372119,5,4,3,1,0,0,1,0,1,0,1,1.311432,552227.910374,0.623250
1089,1089,339800.0,-0.158087,5,1,1,0,0,1,0,0,0,0,1,0.164379,299162.971476,0.348572
1475,1475,232900.0,0.053712,4,2,2,1,0,0,0,1,0,0,1,0.047706,273422.408119,-0.135968
1923,1923,263500.0,-0.265323,1,1,2,1,0,0,0,0,2,0,1,-0.613477,127551.138689,0.002731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
490,490,50000.0,-0.488514,3,1,1,1,0,0,0,0,0,0,1,-0.626932,124582.477887,-0.964988
1993,1993,218500.0,0.028966,2,1,2,1,1,1,0,0,0,1,1,-0.218875,214608.834554,-0.201238
1443,1443,219300.0,0.487917,1,7,2,0,0,0,0,0,0,0,1,1.525679,599495.318191,-0.197612
1908,1908,208000.0,-0.493070,2,1,3,1,0,1,0,1,2,0,1,-0.471500,158874.296075,-0.248830
1440,1440,451500.0,0.603323,6,1,1,1,0,0,0,0,1,0,1,0.096154,284111.013673,0.854868

In [41]:
def calRMSE(vec1, vec2, n):
    summ = 0
    for i in range(n):
        summ += (vec1[i] - vec2[i])**2
    return summ * 1/(2*n)

In [42]:
n = len(df_test_result)
print("Evaluation on RMSE (normalized form) = ", calRMSE(df_test_result['price'].tolist(), df_test_result['predict_price_normalized'].tolist(), n) )
print("Evaluation on RMSE (scaled form) = ", calRMSE(df_test_result['predict_price'].tolist(), df_test_result['price_scaled'].tolist(), n) )

Evaluation on RMSE (normalized form) =  11397614271.35817
Evaluation on RMSE (scaled form) =  0.23416243433690245

RMSE of orignal form (normalized form) is obviously high because price is large too, which make our gradients and errors big too. To prevent this, I scaled data with StandardScaler with mean 0 and std 1. 

The result is column 'predict_price_normalized'